.error {background-color: indianred}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hr2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.spantext {
    display:block;
    width:750px;
    word-wrap:break-word;
}

.font-color {color: #dbdbdb}

.large-font{font-size: 30px}

.background{background-color: #BEBEBE}

.noborder{border: none !important;}

.dark-font{color: #383838}

.form-background{background-color: #dbdbdb}

.btn-xl {
    padding: 7.5px 25px;
    font-size: 15px;
    border-radius: 7.5px;
}

.btn-sm {
    width: 60px;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 7.5px;
}

.center {
  text-align: center;
}
