<div *ngIf="dropdownlabel===1">
  <img src="assets/img/2.png">
</div>
<div *ngIf="dropdownlabel===2">
  <img src="assets/img/3.png">
</div>
<div *ngIf="dropdownlabel===3">
  <img src="assets/img/4.png">
</div>
<div *ngIf="dropdownlabel===4">
  <img src="assets/img/5.png">
</div>
<div *ngIf="dropdownlabel===5">
  <img src="assets/img/6.png">
</div>
<div *ngIf="dropdownlabel===6">
  <img src="assets/img/7.png">
</div>
<div *ngIf="dropdownlabel===7">
  <img src="assets/img/8.png">
</div>
<div *ngIf="dropdownlabel===8">
  <img src="../assets/img/8.png">
</div>

<div class ="container" style="margin-top: 30px">
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle mb-4" type="button" data-toggle="dropdown">Season <span>{{dropdownlabel}}</span>
   </button>
    <ul class="dropdown-menu">
      <li><a (click)="season = 1; page=1; page_size=10; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=1">Season 1</a></li>
      <li><a (click)="season = 2; page=2; page_size=10; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=2">Season 2</a></li>
      <li><a (click)="season = 3; page=3; page_size=10; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=3">Season 3</a></li>
      <li><a (click)="season = 4; page=4; page_size=10; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=4">Season 4</a></li>
      <li><a (click)="season = 5; page=5; page_size=10; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=5">Season 5</a></li>
      <li><a (click)="season = 6; page=6; page_size=10; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=6">Season 6</a></li>
      <li><a (click)="season = 7; page=7; page_size=7; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=7">Season 7</a></li>
      <li><a (click)="season = 8; page=8; page_size=6; webService.getEpisodes(page, page_size); webService.getSeasons(season, season_page_size); dropdownlabel=8">Season 8</a></li>
    </ul>
  </div>
  <hr/>

  <h1>Season {{season}}</h1>
  <div class = "row">
    <div>
      <div class="col-12 mb-2" *ngFor="let season of webService.seasons_list  | async ">
        <div class="row">
          <div class="ml-4 mb-4">
          <img src="{{season.season_image}}" class=shadow-lg width="200" height="300">
          </div>
          <div>
          <div class="ml-3 large-font">
            <h1 class="large-font">Summary</h1>
          </div>
          <div class="ml-4">
             <span class="spantext">{{season.season_description}}</span>
          </div>
      </div>
      </div>
      </div>
      </div>
    </div>
  <hr/>

  <h1>Episodes</h1>
  <div class = "row">
      <div class="col-4 mb-1" *ngFor="let episode of webService.episodes_list  | async ">
        <div class = "font-color card text-white bg-dark mb-4 "
           [routerLink] = "['/gameofthrones', episode._id]"
          style = "cursor: pointer">
          <div class="justify-content-center">
          <img src="{{episode.image}}" class=shadow-lg width="348" height="210">
          </div>
          <div class="episode-title  font-color card-header center-block">
            {{episode.name}}
          </div>
          <div class="card-header font-color">
            Season: {{episode.season}} Episode: {{episode.episode}}
          </div>
          <div class="card-header font-color">
            IMBD rating: {{episode.imbd_rating}}
          </div>
        </div>
      </div>
    </div>
</div>
