hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.small-font{
   font-size: 20px;
}

.episode-title {color: #dbdbdb; font-size: 16px}

.font-color {color: #dbdbdb}
