.error {background-color: indianred}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hr2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.spantext {
    display:block;
    width:750px;
    word-wrap:break-word;
}

.font-color {color: #dbdbdb}

.large-font{font-size: 30px}

.background{background-color: #BEBEBE}

.noborder{border: none !important;}

.dark-font{color: #383838}
