<div class ="container" style="margin-top: 100px">
  <div class = "row">
    <div class="col-sm-12">
        <div *ngFor="let episode of webService.episode | async">
           <div class = "card text-white bg-primary mb-3">
            <div class="card-header">
              {{episode.name}}
            </div>
            <div class="card-header">
              This episodes season:{{episode.season}}
            </div>
            <div class="card-header">
              This episodes number: {{episode.episode}}
            </div>
            <div class="card-header">
              This episodes airdate: {{episode.airdate}}
            </div>
           </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light mb-3"
        *ngFor = "let review of webService.reviews_list | async">
        <div class="card-header">
          Review by {{review.username}}
          on {{review.date | date }}
        </div>
        <div class="card-body">
          {{review.comment}}
        </div>
        <div class="card-footer">
          {{review.stars}} stars
        </div>
        </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>
        Please review a business
      </h2>
      <form [formGroup] = "reviewForm" (ngSubmit)= "onSubmit()">
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" id="username" name="username" class="form-control" formControlName="username"
          [ngClass] = "{ 'error' : isInvalid('username')}">
        </div>
        <div class="form-group">
          <label for="comment">Please leave your review below</label>
          <textarea id="comment" name="comment" class="form-control" formControlName="comment"
          [ngClass]= "{ 'error' : isInvalid('comment')}">
          </textarea>
        </div>
        <div class="form-group">
          <label for="stars">Please provide a rating (5=best)</label>
          <select type="text" id="stars" name="stars" class="form-control" formControlName="stars">
            <option value="1"> 1 Star</option>
            <option value="2"> 2 Stars</option>
            <option value="3"> 3 Stars</option>
            <option value="4"> 4 Stars</option>
            <option value="5"> 5 Stars</option>
          </select>
        </div>
        <span *ngIf="isIncomplete()">
          You must complete all fields
        </span>
        <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
