<div class ="container" style="margin-top: 100px">
  <div class = "row">
    <div class>
        <div class="col-12 font-color mb-1" *ngFor="let episode of webService.episode | async">
          <div class = "card bg-dark mb-3">
            <div class="card-header">
              <h2 class="ml-2">{{episode.name}}</h2>
            </div>
          <div class="row">
            <img class="ml-5 mb-4 mt-4" src="{{episode.image}}" width="348" height="210">
            <div>
              <div class="ml-3">
             <h1 class="large-font">Summary</h1>
            </div>
              <div class="ml-3">
             <span>{{episode.summary}}</span>
            </div>
              </div>
          </div>
            <div class="card-header">
              Season: {{episode.season}}
            </div>
            <div class="card-header">
              Episode: {{episode.episode}}
            </div>
             <div class="card-header">
              Airdate: {{episode.airdate}}
            </div>
            <div class="row">
              <a href="{{episode.imbd_url}}">
              <img class="ml-5 mb-4 mt-4" src="assets/img/imbd.png" width="40" height="40"></a>
              <div class="card-header mt-4">
              {{episode.imbd_rating}}
            </div>
              </div>
           </div>
        </div>
      </div>
  </div>
</div>
 <hr/>
    <h1>Season 3</h1>
  <div class="row">
      <img class="ml-4 mb-4" src="assets/img/333.jpeg" width="200" height="300">
    <div class="ml-3 small-font">
    Summary
    </div>
  </div>
     <hr/>

<h1>Reviews </h1>
<div class="container" >
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light mb-3" *ngFor = "let review of webService.reviews_list | async ">
        <div class="card-header">
          Review by {{review.username}}
        </div>
        <div class="card-body">
          {{review.comment}}
        </div>
        <div class="card-footer">
          {{review.stars}} stars
        </div>
        </div>
    </div>
  </div>
</div>


<div class="container mt-2" *ngIf="authService.loggedIn">
  <div class="row">
    <div class="col-sm-12 bg-success">
      <h2>
        Leave a review for this episode
      </h2>
      <form [formGroup] = "reviewForm" (ngSubmit)= "onSubmit()">
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" id="username" name="username" class="form-control" formControlName="username"
          [ngClass] = "{ 'error' : isInvalid('username')}">
        </div>
        <div class="form-group">
          <label for="comment">Please leave your review below</label>
          <textarea id="comment" name="comment" class="form-control" formControlName="comment"
          [ngClass]= "{ 'error' : isInvalid('comment')}">
          </textarea>
        </div>
        <div class="form-group">
          <label for="stars">Please provide a rating (5=best)</label>
          <select type="text" id="stars" name="stars" class="form-control" formControlName="stars">
            <option value="1"> 1 Star</option>
            <option value="2"> 2 Stars</option>
            <option value="3"> 3 Stars</option>
            <option value="4"> 4 Stars</option>
            <option value="5"> 5 Stars</option>
          </select>
        </div>
        <span class="mb-5" *ngIf="isIncomplete()">
          You must complete all fields
        </span>
        <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary mb-5">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="!authService.loggedIn">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        Please login to review this
      </h3>
    </div>
  </div>
</div>
