<div class="jumbotron">
  <h1>Episodes Directory</h1>
</div>

<div class ="container">
  <div class = "row">
    <div class="col-sm-12">
      <div *ngFor="let episode of webService.episode_list">
        <div class = "card text-white bg-primary mb-3"
              [routerLink] = "['/gameofthrones', episode._id]"
          style = "cursor: pointer">
          <div class="card-header">
            {{episode.name}}
          </div>
          <div class="card-header">
            This episodes season: {{episode.episode}}
          </div>
          <div class="card-header">
            This episodes airdate: {{episode.airdate}}
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
