<div>
  <img src="assets/img/1.png">
</div>
<div class ="container dark-font noborder" style="margin-top: 50px">
  <div class = "row background noborder mb-5">
    <div class>
        <div class="col-12 mb-1 background noborder" *ngFor="let episode of webService.episode | async">
          <div class = "card  mb-3 background noborder">
            <div class="card-header background ">
              <h2 class="ml-2">{{episode.name}}</h2>
            </div>
          <div class="row background ">
            <img class="ml-5 mb-4 mt-4 background" src="{{episode.image}}" width="348" height="210">
            <div>
              <div class="ml-3 background" >
             <h1 class="large-font background">Summary</h1>
            </div>
              <div class="ml-3 background noborder">
             <span class="spantext background">{{episode.summary}}</span>
            </div>
              </div>
          </div>
            <div class="card-header background ">
              Season: {{episode.season}}
            </div>
            <div class="card-header background ">
              Episode: {{episode.episode}}
            </div>
             <div class="card-header background ">
              Airdate: {{episode.airdate}}
            </div>
            <div class="row">
              <a href="{{episode.imbd_url}}">
              <img class="background ml-5 mb-4 mt-4" src="assets/img/imbd.png" width="40" height="40"></a>
              <div class="card-header mt-4 background noborder">
              {{episode.imbd_rating}}/10
            </div>
              </div>
           </div>
        </div>
      </div>
  </div>

<hr class="hr2"/>
<div class="container text-dark mb-5" >
  <h1>Reviews</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light mb-3 mt-3" *ngFor = "let review of webService.reviews_list | async ">
        <div class="card-header">
          Review by {{review.username}}
        </div>
        <div class="card-header">
          {{review.comment}}
        </div>

        <div class="card-header">
          {{review.stars}} stars
        </div>

        <div class="card-footer" *ngIf="authService.loggedIn">
          <button *ngIf="edit_button" type=button class=" btn-sm bg-primary font-color" (click)="div2Function()">Edit</button>
          <button *ngIf="delete_button" class="bg-danger ml-3 btn-sm font-color" type="button" (click)="onDelete(review._id)" (submit)="onDelete(review._id)">Delete</button>



          <!------------------------------------ EDIT PAGE ----------------------->

<div *ngIf="div2">
<div class="container dark-font mb-5" *ngIf="authService.loggedIn">
  <div class="row =">
    <div class="col-sm-11">
      <form class="mt-4" [formGroup] = "reviewUpdateForm" (ngSubmit)= "onEdit(review._id)">
        <div class="form-group">
          <label for="username">Updated Name</label>
          <input type="text" id="username" name="username" class="form-control" formControlName="updated_username" placeholder="{{review.username}}"
          [ngClass] = "{ 'error' : isInvalid('username')}">
        </div>
        <div class="form-group">
          <label for="comment">Updated Please leave your review below</label>
          <textarea id="comment" name="comment" class="form-control" formControlName="updated_comment" placeholder="{{review.comment}}"
          [ngClass]= "{ 'error' : isInvalid('comment')}">
          </textarea>
        </div>
        <div class="form-group">
          <label for="stars">Updated Please provide a rating (5=best)</label>
          <select type="text" id="stars" name="stars" class="form-control" formControlName="updated_stars">
            <option value="1"> 1 Star</option>
            <option value="2"> 2 Stars</option>
            <option value="3"> 3 Stars</option>
            <option value="4"> 4 Stars</option>
            <option value="5"> 5 Stars</option>
          </select>
        </div>
        <button type="submit" class="btn-sm bg-primary font-color mr-4">Apply</button>
        <button type="submit" class="btn-sm bg-primary font-color" type="submit" (click)="div4Function()">Exit</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<hr/>

<div  *ngIf="div1">
<div class="container mt-2 dark-font mb-5" *ngIf="authService.loggedIn">
  <h1 class="mb-5">Leave a review for this episode</h1>
  <div class="row mt-2">
    <div class="col-sm-12 background">
      <form class="mt-4 mb-4" [formGroup] = "reviewForm" (ngSubmit)= "onSubmit()">
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" id="username" name="username" class="form-control" formControlName="username"
          [ngClass] = "{ 'error' : isInvalid('username')}">
        </div>
        <div class="form-group">
          <label for="comment">Please leave your review below</label>
          <textarea id="comment" name="comment" class="form-control" formControlName="comment"
          [ngClass]= "{ 'error' : isInvalid('comment')}">
          </textarea>
        </div>
        <div class="form-group">
          <label for="stars">Please provide a rating (5=best)</label>
          <select type="text" id="stars" name="stars" class="form-control" formControlName="stars">
            <option value="1"> 1 Star</option>
            <option value="2"> 2 Stars</option>
            <option value="3"> 3 Stars</option>
            <option value="4"> 4 Stars</option>
            <option value="5"> 5 Stars</option>
          </select>
        </div>
        <span class="mb-5" *ngIf="isIncomplete()">
          You must complete all fields
        </span>
        <button *ngIf="!isIncomplete()" type="submit" class="btn btn-dark font-color mb-2">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>

<div class="container mt-2 dark-font mb-5 center" *ngIf="authService.loggedIn">
  <button *ngIf="add_review_button" class="  mt-4 btn-xl mb-5 font-color bg-dark" (click)="div1Function()">Add Review</button>
</div>

<div class="container mb-4" *ngIf="!authService.loggedIn">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        Please login to review this
      </h3>
    </div>
  </div>
</div>
</div>
