<body>
<div>
  <img src="assets/img/1.png">
</div>

<div class="container center mt-5 ">
  <h1 class="large-font">Welcome to the Game of Thrones Directory</h1>
</div>
<hr/>
  <div class = "container mt-5">
    <div class="row">
      <div class="row">
        <div class="col-3" *ngFor="let season of webService.seasons_list  | async ">
        <div class="row" >
          <div class="ml-7 mb-4" [routerLink] = "['/gameofthrones']" style="cursor: pointer">


          <img src="{{season.season_image}}"  class=shadow-lg width="160" height="240">
            <h1 class="dark-font small-font center">Season {{season.season_number}}</h1>
          </div>
          </div>
          <div>
      </div>
      </div>
      </div>
      </div>
    </div>
  <hr/>

  <div class="containeredit">
  <div class="centeredit">
       <button class="btn btn-outline-light bg-dark font-color"
            (click)="authService.logout()"
            *ngIf="authService.loggedIn">
    Log Out
    </button>
    <button class="btn bg-dark font-color"
            (click)="authService.login()"
            *ngIf="!authService.loggedIn">
      Log in
    </button>




  </div>

  </div>
</body>

