<body>
<div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top navbar-default" >

  <span class="navbar-brand">
    Game of Thrones Directory
  </span>
  <ul class="navbar-nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink='/'>Home</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" routerLink='/gameofthrones'>Episodes</a>
    </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                    Dropdown link
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Season 1</a>
      <a class="dropdown-item" href="#">Season 2</a>
      <a class="dropdown-item" href="#">Season 3</a>
    </div>
  </li>
  </ul>



  <div class="form-inline ml-auto">
    <button class="btn btn-outline-light"
            (click)="authService.login()"
            *ngIf="!authService.loggedIn">
      Log in
    </button>

    <button class="btn btn-outline-light"
            (click)="authService.logout()"
            *ngIf="authService.loggedIn">
    Log Out
    </button>
  </div>
</div>
</body>
